.bodyny{
    background-image: url(img/NY.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.header1{
    text-align: center;
    color:gold;
    background-color: white;

}

.mta{
    position:absolute;
    top: center;
    left: 450px;
    height: 250px; 
    width: 750px;
    z-index:2;
    background-color: aliceblue;
}

.home{
    top:auto;
    left:0;
    height: 25px;
    width: 50px;
}

.headtitle{
    text-align: center;
    color:gold;
    background-color: white;
}



.backgroundsubway{
    background-image: url(img/timesquaresubway.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.home2{
    top:auto;
    left:0;
    height: 25px;
    width: 50px;
}

.trains{
    text-align: center;
    color: red;
    background-color: white;
    font-size:xx-large;
}


.option{
    text-align: center;
    color: red;
    background-color: white;
    font-size:xx-large;  
}

.option2{
    text-align: center;
    color: red;
    background-color: white;
    font-size:xx-large; 
}


.tssubway2{
    background-image: url(img/tssubway2.webp);
    background-size: cover;
    background-repeat: no-repeat;
}