.ny{
    color: peru;
    text-decoration: none;
    font-family: Arial;
    font-size: 20px;
}

.pinny{ 
    position: absolute;
    top: 400px; 
    left: 269px;
    height: 50px; 
    width: 50px;
    z-index:2;
}


.pinitaly{ 
    position: absolute;
    top: 380px; 
    left: 660px;
    height: 50px; 
    width: 50px;
    z-index:2;
}


.pinjapan{ 
    position: absolute;
    top: 375px; 
    left: 1200px;
    height: 50px; 
    width: 50px;
    z-index:2;
}

.map{ 
    position: absolute;
    z-index:1;
}

.follow{
    font:150px;
    font-family:fantasy;
    text-align: center;
    background-color:aliceblue;
    
}

.title{
    text-align: center;
    color:coral;
    background-color: aliceblue;

}

.back{
    background-color: aliceblue;
}