.discover{
    font-size: xx-large;
    text-align: center;
    font-family: fantasy;
    background-color:skyblue
}

 body{
     background: url(pics/Tubbataha-Reefs-Diving-Philippines-4.jpg);
     background-size: cover;
 }
    